.myProfile {
  max-width: 60rem;
  padding: 1rem;
  margin: 1rem auto;
}

.profile-page-links {
  margin: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--light-secondary-color);
  text-align: center;
}
.Profile-details {
  border: 1px solid var(--light-secondary-color);
  flex-direction: column;
  padding: 0 2rem;
}

input {
  border: 1.5px solid var(--light-secondary-color);
  padding: 5px;
  outline: none;
  margin: 8px;
}
/* input:invalid {
  border-color: red;
}
input:valid {
  border-color: var(--dark-success-color);
} */
.address-container-page {
  max-width: 60rem;
  padding: 1rem;
  margin: 1rem;
}

.address-box {
  border: 1.5px solid var(--light-secondary-color);
  padding: 1rem;
}

.address-editor-container {
  border: 1px solid var(--primary-color);
  padding: 1rem;
  margin: 1rem;
}
