.product-detail-card {
  grid-column-gap: 1.5rem;
  max-width: 70rem;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto;
}
.product-detail-card .card-img {
  max-height: 350px;
  max-width: 400px;
}
.vatInfo {
  color: #03a685;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin: 5px 10px 0 0;
}
